:root {
  --header-bg:#F1F1F1; /* Background for header, currently hidden by my numgif */
  --nav-bg:#F2F2F2; /* Background color for navbar, all subtitles, sidebar link line items  */
  --article-bg:#EDEDEF; /* Background color for main 3 article divs  */
  --border-color:#E0E0E0; /* This is only for the Link borders  */
  --sidebar-text-color:#6F7A79; /* Text color for all sidebar content including link text  */
  --article-text-color:#625F5F; /* Main article text and sidebar subtitle color  */
  --article-heading-color:#929292; /* Main article subtitle text color  */
  --nav-link-color:#5f758c; /* Color of navbar link text  */
  --darker-border-color:#C6C6C6;/* This is the border color for basically everything but links  */
}
html, body {
  padding:0; /* This is a common technique I believe to standardize things, Sadgrl said it removes white gap */
  margin:0;
}
body {
  font-size:16px; /* This controls the font size for everything but the subtitles in main  */
}

header, nav {
  max-width:100%; /* This changes how far across the screen the header and nav go, best to leave at 100 */
}
aside {
  max-width:250px; /* Controls width of the 2 sidebars*/
  margin-top:30px; /* Sets how much space is between the nav bar and side bars*/
}
.flex {
  display:flex;
  max-width:1900px; /* This controls the width of all content except for header and nav, consider mobile implications if I stretch this to fit my monitor */
}
nav {
  max-height:25px;
  height:25px; /* Controls how chunky the nav bar is*/
  margin-bottom:10px; /* Controls how much space sits below the navbar*/
  background-color:var(--nav-bg); /* Gives the nav bar a light grey background*/
}
header {
  max-height:200px;
  height:200px; /* Header size seems fine*/
  background-color:var(--header-bg); /* Fills out the header background to go across the screen to the right*/
  background-image:url('../Images/num.gif');
  /* background-repeat:repeat-y; /* this prevents it from repeating horizontally, delete this line to copy the image across the whole header, or uncomment the line to make the image appear exactly once */
  background-size:200px; /* May need to change when we change our image */
  background-position:fixed; /* this prevents the image from shifting when the page is resized */
}
main {
  width:100%; /* Probably best not to change this with flex formatting */
  margin-left:20px;
  margin-right:20px;
}
section {
  margin-bottom:10px;
  color:var(--sidebar-text-color); /* The sidebar text color is inherited from the root */
}
article { 
  border:1px solid var(--darker-border-color);
  margin-bottom:15px; /* Spacing between the divs in main */
  background-color:var(--article-bg); /* Fills in the background behind the text in the main sections */
  color:var(--article-text-color); /* Changes color of the main body text */
  padding:10px; /* Spacing between the main body elements, 10 seems solid */
}
.subtitle {
  border:1px solid var(--darker-border-color); /* Border for every single subtitle */
  background-color:var(--nav-bg); /* Background color for every single subtitle */
}
.links { /* This applies to the 'links' UL */
  list-style-type:none; /* This removes the bullets from the list */
  padding-left:0; /* This keeps the list items to the left of the box, will need to be changed if a section doesn't have links */
}
.links li {
  background-color:var(--nav-bg); /* This gives the links the same color as the nav bar background */
  border:1px solid var(--border-color); /* This defines the link borders, can adjust size, solid, or variable color */
  margin-bottom:3px; /* Might change the space between links to 4 or 5 */
}
.links li a {
  text-decoration:none; /* Remove this if you want links to be underlined */
  color:inherit; /*  'inherit' means that the element inherits the text color of its parent (which I believe is the subtitle), if you erase this line the links will be blue */
}
.nav {
  margin-top:5px; /* This is the margin for the navbar itself */
}
.nav li { 
  display:inline-block; /* This makes the items within the navbar line up horizontally */
  padding-left:30px; /* This sets the spacing between the items within the navbar, play with this later */
}
.nav li a {
  text-decoration:none; /* This makes the navbar links have no underline */
  text-transform:uppercase; /* this forces all navbar text to uppercase */
  color:var(--nav-link-color); /* Color of the navbar links is based on the root variable */
}
.left-sidebar {
  margin-left:50px; /* This is the spacing on the left sidebar */
}
.subtitle {
  color:var(--article-text-color);
  font-weight:bold; /* Bolds all subtitles */
  letter-spacing:px;/* Spacing between letters in all subtitles */
}
article .subtitle {  /* this selects all .subtitle divs inside of the article (main) div */
  text-transform:uppercase; /* Makes all the subtitles under the main (article) capital letters */
  font-size:20px; /* Font size for the main subtitles */
  color:var(--article-heading-color); /* Controls color of main subtitles */
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:10px;
  
}
nav {
  border:2px solid var(--darker-border-color); /* Border around the whole navbar */
  border-left:none;
  border-right:none;
}
.right-sidebar {
  margin-right:50px; /* This is the spacing on the right sidebar */
}